@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'bootstrap-icons/font/bootstrap-icons.css';

img {
  max-width: 100%;
  height: auto;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
