@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'bootstrap-icons/font/bootstrap-icons.css';

img {
  max-width: 90%;
  height: auto;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/*simpel style for markdown table*/
td, th {
    border: 1px solid grey;
    padding: .3rem 1rem;
}

.form-check-input:checked {
  background-color: #ff6f20 !important;
  border-color: #ff6f20 !important;
  box-shadow: 0 0 10px #ff6f20 !important;
}

.form-select:focus, .form-control:focus {
  border-color: #ff6f20 !important;
  box-shadow: 0 0 10px #ff6f20 !important;
}
.scrollable-list {
  max-height: 200px;
  overflow-y: auto;
}

.main-content {
  margin-top: 56px;
}
