:root {
    --home-height: 85vh;
}

.home-layout {
    margin: 0.7rem;
    height: var(--home-height);
    width: calc(100% - 2.4rem);
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
                "e e n n"
                "e e n n"
                "a a n n"
                "a a p p";
    grid-gap: 0.4rem;
}

.a, .e, .n, .p {
    max-width: 46vw;
    min-width: 46vw;
}

.a, .e {
    max-height: calc(var(--home-height) / 2 - 1rem);
    min-height: calc(var(--home-height) / 2 - 1rem);
}

.n {
    max-height: calc(var(--home-height) * 3 / 4 - 1rem);
    min-height: calc(var(--home-height) * 3 / 4 - 1rem);
}


.p {
    max-height: calc(var(--home-height) / 4 - 1rem);
    min-height: calc(var(--home-height) / 4 - 1rem);
}

#eventsCards, #activitiesCards {
    max-height: 100%;
    height: auto;
    overflow-y: scroll;
}

.a {
    grid-area: a;
}

/*event preview area*/
.e {
    grid-area: e;
}

/*notes preview area*/
.n {
    grid-area: n;
}

/*pomodoro preview area*/
.p {
    grid-area: p;
}

@media (max-width: 768px) {
    .home-layout {
        grid-template-rows: repeat(5, 1fr);
        grid-template-areas:
                    "e e"
                    "a a"
                    "n n"
                    "n n"
                    "p p";
        height: 100%;
    }
    .a, .e, .n, .p {
        max-width: 92vw;
        min-width: 92vw;
    }
}
