:root {
    --home-height: 90vh;
    --home-width: calc(100% - 2.4rem);
}

.home-layout {
    margin: 0.7rem 0.7rem 0.7rem 0.7rem;
    padding-top: 0.7rem;
    height: var(--home-height);
    width: var(--home-width);
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas:
                "e e n n n"
                "e e n n n"
                "e e n n n"
                "e e n n n"
                "a a n n n"
                "a a p p p"
                "a a p p p"
                "a a p p p";
    grid-gap: 0.7rem;
}

.a, .e, .n, .p {
    -webkit-box-shadow: 5px 13px 15px 5px #330000;
    box-shadow: 5px 13px 15px 5px #330000 ;
    border-radius: 0.4rem;
}

.no-shadow {
    -webkit-box-shadow: none;
    box-shadow: none;
}

#eventsCards, #activitiesCards {
    max-height: 100%;
    height: auto;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.5rem;
}

/*activity preview area*/
.a {
    grid-area: a;
}

/*event preview area*/
.e {
    grid-area: e;
}

/*notes preview area*/
.n {
    grid-area: n;
}

/*pomodoro preview area*/
.p {
    grid-area: p;
}

@media (max-width: 768px) {
    .home-layout {
        grid-template-rows: repeat(5, 1fr);
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
                    "e e"
                    "a a"
                    "n n"
                    "n n"
                    "p p";
        height: 100%;
        max-height: calc(var(--home-height) * 3);
    }
    .a, .e {
        max-height: calc(var(--home-height) * 0.6);
    }
    .p {
        max-height: calc(var(--home-height) * 0.6);
    }
    .n {
        max-height: calc(var(--home-height) * 1.2);
    }
}
