 .body {

  background: transparent; 
}

  
  .visually-hidden {
    display: none; 
  }
  

.card-pm:hover {
  border: 4px solid #0056b3; 
}

.card-pm {
  border-radius: 8px;
  background-color: #fff;
  width: 150px;
	cursor: pointer;
  height: 130px;
  
}

.card-selected {
  border-radius: 8px;
  overflow: hidden;
  background-color: #ffe4e4;
  transition: transform 0.3s, box-shadow 0.3s;
  width: 150px;
  height: 130px;
	cursor: "pointer";
  border: 4px solid #003c7c; 
}
  
.cycles-arrow {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs, 1));
    width: 45px;
    height: 45px;
    border: 2px solid;
    border-right-color: transparent;
    border-radius: 100px;
    color:	#4B0082
  }
  .cycles-arrow::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 10px;
    height: 10px;
    border-top: 2px solid;
    border-right: 2px solid;
    top: -2px;
    right: 4px;
    transform: rotate(84deg);
    color: 	#4B0082
  }


  .color-1 {
    background-color: #1d4213;  
    color: white;            
    border-color:#1d4213;   
  }

  .color-2 {
    background-color:#ff1100 ; 
    color: white;
    border-color:#ff1100;    
  }

  .color-3 {
    background-color: #0008ff;  
    color: white;
    border-color:#0008ff;
  }

  .color-4 {
    background-color: #0a0092;
    color: white;
    border-color:#0a0092;
  }
  .color-5 {
    background-color: #801300;
    color: white;
    border-color: #801300;
  }
  .color-6 {
    background-color: #a3002c;
    color: white;
  }
  .color-text{
    color: white;
  }

  .color-text-2{
    color: 	#4B0082;
  }
  
.timer {
  width: 300px;
  height: 300px;
}

.concentric-circles {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  display: flex
}

.circle-timer {
  position: absolute;
  top: 35%;
  left: 50%; 
  transition: 0.1s linear;
  transform-origin: 50% 50%;
  transform: rotate(-90deg);
  background: transparent; 
}
